body{
    padding: 0;
    margin: 0;
    background: #ccc
}
.tabs {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black
}
.mytabs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1466px;
    margin: 50px auto;
    padding: 25px;
}
.mytabs input[type="radio"] {
    display: none;
}
.mytabs label {
    padding: 25px;
    background: #e2e2e2;
    font-weight: bold;
}

.mytabs .tab {
    width: 100%;
    padding: 20px;
    background: #fff;
    order: 1;
    display: none;
}
.mytabs.tab h2 {
    font-size: 3em;
}
.mytabs input[type='radio']:checked + label + .tab{
    display: block;
}
.mytabs input[type="radio"]:checked +label {
    background: #fff;
}
.tab {
    cursor: pointer;
    padding: 10px;
}
.tab.active {
    background-color: #CCC;
}
.tab:hover {
    background-color: #aaa
}
.tab-content {
    margin-left: 20px;
    margin-right: 20px;
}
.container{
    max-width: 1366px;
    margin: 0 auto;
    background: #f9f9f9;
    font-size: 45px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 25px;
}
.parallax{
    background: url('img/1.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.parallax1{
    background: url('img/2.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.parallax2{
    background: url('img/3.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.parallax3{
    background: url('img/4.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
}
.parallax4{
    background: url('img/5.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.parallax5{
    background: url('img/6.2.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.parallax6{
    background: url('img/7.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.parallax7{
    background: url('img/8.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.parallax8{
    background: url('img/9.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 500px;
}
.parallax9{
    background: url('img/10.png') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}